html body {
    background-color: black; 
    color: #f1f1f1; 
  }
  
 
 .navbar{
  
  border: 3px solid rgb(119, 5, 5);
  border-radius: 10px;

 } 
  
  .carousel-inner .carousel-item {
    transition: transform 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    position: relative;
  }

  .carousel-inner {
    overflow: hidden;
    align-items: center;
  }

  .carousel-inner .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
    border-radius: 30px;
  }
  
  
  
  .carousel-caption {
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 50%; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    
  }
  
  
  .carousel-inner .carousel-item.active {
    position: relative;
  }
  
  .carousel-caption h5,
  .carousel-caption p {
      margin: 0;
      color: white;
  }
  
  .carousel-inner .carousel-item:not(.active) {
    display: none;
  }
  
  

  .movie-card {
    
    margin: 10px;
    background-color: #531919; 
    border-radius: 15px;
    color: #f1f1f1; 
  }
  
  
  .movie-card:hover{
    box-shadow: 0 2px 20px pink ;
  
  }
  
  
  
  .movie-card h5 {
    font-size: 1rem; 
  }
  
  
  .cast-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  
  
  .movie-card .cast img {
    max-width: 10px;
  
    max-height: 15px; 
  
    object-fit: cover; 
  
    border-radius: 50%; 
  
    margin-right: 10px; 
  
  }
  
  
  #movieCast{
    display: flex
  }

  .cast-card{
    box-shadow: 0 0 20px white;
    margin: 1px;
  }

  #movieOverview{
    font-size: 20px;
  }

  #movieRating{
    color: #d30a0a;
  }
 

 